/*
************************************************************
* Bag Pack 1.5                                             *
* Pure CSS Framework                                       *
*                                                          *
* Based on the thinking of a bag and a rising mind         *
* Any one can use under the GNU General Public Licence     *                                  
* http://opensource.org/licenses/GPL-3.0                   *
* Copyright 2013, Ishaan Rawat                             *
* http://backpack.ishaanrawat.com                          *
************************************************************
*/

.bag{
	width: 1200px;
	margin: 0 auto;
}
.bag .pockets:last-child, .bag .pocket:last-child{
	margin-right: 0px;
}
.chain {
}
.chain:before,
.chain:after {
  display: table;
  line-height: 0;
  content: "";
}
.chain:after {
  clear: both;
}
.pockets.last-pocket, .pocket.last-pocket{
	margin-right: 0px;
}
.pocket, .pockets{
	float: left;
	padding: 0px 10px;
}
.one.pocket{
	width: 78px;
	margin-right: 24px;
}
.two.pockets{
	width: 180px;
	margin-right: 24px;
}
.three.pockets{
	width: 282px;
	margin-right: 24px;
}
.four.pockets{
	width: 384px;
	margin-right: 24px;
}
.five.pockets{
	width: 486px;
	margin-right: 24px;
}
.six.pockets{
	width: 588px;
	margin-right: 24px;
}
.seven.pockets{
	width: 690px;
	margin-right: 24px;
}
.eight.pockets{
	width: 792px;
	margin-right: 24px;
}
.nine.pockets{
	width: 894px;
	margin-right: 24px;
}
.ten.pockets{
	width: 996px;
	margin-right: 24px;
}
.eleven.pockets{
	width: 1098px;
	margin-right: 24px;
}
.twelve.pockets{
	width: 1200px;
}
.one-pocket-space{
	margin-left: 102px;
}
.two-pockets-space{
	margin-left: 204px;
}
.three-pockets-space{
	margin-left: 306px;
}
.four-pockets-space{
	margin-left: 408px;
}
.five-pockets-space{
	margin-left: 510px;
}
.six-pockets-space{
	margin-left: 612px;
}
.seven-pockets-space{
	margin-left: 714px;
}
.eight-pockets-space{
	margin-left: 816px;
}
.nine-pockets-space{
	margin-left: 918px;
}
.ten-pockets-space{
	margin-left: 1020px;
}
.eleven-pockets-space{
	margin-left: 1122px;
}


/*
**********************************************************
For Ultra High Resolution Screens 
**********************************************************
*/

@media screen and (min-width: 2400px){

	.bag{
		width: 2400px;
	}
	.one.pocket{
		width: 145px;
		margin-right: 60px;
	}
	.two.pockets{
		width: 350px;
		margin-right: 60px;
	}
	.three.pockets{
		width: 555px;
		margin-right: 60px;
	}
	.four.pockets{
		width: 760px;
		margin-right: 60px;
	}
	.five.pockets{
		width: 965px;
		margin-right: 60px;
	}
	.six.pockets{
		width: 1170px;
		margin-right: 60px;
	}
	.seven.pockets{
		width: 1375px;
		margin-right: 60px;
	}
	.eight.pockets{
		width: 1580px;
		margin-right: 60px;
	}
	.nine.pockets{
		width: 1785px;
		margin-right: 60px;
	}
	.ten.pockets{
		width: 1990px;
		margin-right: 60px;
	}
	.eleven.pockets{
		width: 2195px;
		margin-right: 60px;
	}
	.twelve.pockets{
		width: 2400px;
	}
	.one-pocket-space{
		margin-left: 205px;
	}
	.two-pockets-space{
		margin-left: 410px;
	}
	.three-pockets-space{
		margin-left: 615px;
	}
	.four-pockets-space{
		margin-left: 820px;
	}
	.five-pockets-space{
		margin-left: 1025px;
	}
	.six-pockets-space{
		margin-left: 1230px;
	}
	.seven-pockets-space{
		margin-left: 1435px;
	}
	.eight-pockets-space{
		margin-left: 1640px;
	}
	.nine-pockets-space{
		margin-left: 1845px;
	}
	.ten-pockets-space{
		margin-left: 2050px;
	}
	.eleven-pockets-space{
		margin-left: 2255px;
	}

}


/*
**********************************************************
For High Resolution Screens 
**********************************************************
*/

@media screen and (min-width: 1999px) and (max-width: 2399px){

	.bag{
		width: 2000px;
	}
	.one.pocket{
		width: 119px;
		margin-right: 52px;
	}
	.two.pockets{
		width: 290px;
		margin-right: 52px;
	}
	.three.pockets{
		width: 461px;
		margin-right: 52px;
	}
	.four.pockets{
		width: 632px;
		margin-right: 52px;
	}
	.five.pockets{
		width: 803px;
		margin-right: 52px;
	}
	.six.pockets{
		width: 974px;
		margin-right: 52px;
	}
	.seven.pockets{
		width: 1145px;
		margin-right: 52px;
	}
	.eight.pockets{
		width: 1316px;
		margin-right: 52px;
	}
	.nine.pockets{
		width: 1487px;
		margin-right: 52px;
	}
	.ten.pockets{
		width: 1658px;
		margin-right: 52px;
	}
	.eleven.pockets{
		width: 1829px;
		margin-right: 52px;
	}
	.twelve.pockets{
		width: 2000px;
	}
	.one-pocket-space{
		margin-left: 171px;
	}
	.two-pockets-space{
		margin-left: 342px;
	}
	.three-pockets-space{
		margin-left: 513px;
	}
	.four-pockets-space{
		margin-left: 684px;
	}
	.five-pockets-space{
		margin-left: 855px;
	}
	.six-pockets-space{
		margin-left: 1026px;
	}
	.seven-pockets-space{
		margin-left: 1197px;
	}
	.eight-pockets-space{
		margin-left: 1368px;
	}
	.nine-pockets-space{
		margin-left: 1539px;
	}
	.ten-pockets-space{
		margin-left: 1710px;
	}
	.eleven-pockets-space{
		margin-left: 1881px;
	}

}

/*
**********************************************************
For Medium Resolution Screens
**********************************************************
*/

@media screen and (min-width: 1699px) and (max-width: 1999px){

	.bag{
		width: 1700px;
	}
	.one.pocket{
		width: 105px;
		margin-right: 40px;
	}
	.two.pockets{
		width: 250px;
		margin-right: 40px;
	}
	.three.pockets{
		width: 395px;
		margin-right: 40px;
	}
	.four.pockets{
		width: 540px;
		margin-right: 40px;
	}
	.five.pockets{
		width: 685px;
		margin-right: 40px;
	}
	.six.pockets{
		width: 830px;
		margin-right: 40px;
	}
	.seven.pockets{
		width: 975px;
		margin-right: 40px;
	}
	.eight.pockets{
		width: 1120px;
		margin-right: 40px;
	}
	.nine.pockets{
		width: 1265px;
		margin-right: 40px;
	}
	.ten.pockets{
		width: 1410px;
		margin-right: 40px;
	}
	.eleven.pockets{
		width: 1555px;
		margin-right: 40px;
	}
	.twelve.pockets{
		width: 1700px;
	}
	.one-pocket-space{
		margin-left: 145px;
	}
	.two-pockets-space{
		margin-left: 290px;
	}
	.three-pockets-space{
		margin-left: 435px;
	}
	.four-pockets-space{
		margin-left: 580px;
	}
	.five-pockets-space{
		margin-left: 725px;
	}
	.six-pockets-space{
		margin-left: 870px;
	}
	.seven-pockets-space{
		margin-left: 1015px;
	}
	.eight-pockets-space{
		margin-left: 1160px;
	}
	.nine-pockets-space{
		margin-left: 1305px;
	}
	.ten-pockets-space{
		margin-left: 1450px;
	}
	.eleven-pockets-space{
		margin-left: 1595px;
	}

}

/*
**********************************************************
For Small Resolution Screens
**********************************************************
*/

@media screen and (min-width: 959px) and (max-width: 1199px){

	.bag{
		width: 960px;
	}
	.one.pocket{
		width: 69px;
		margin-right: 12px;
	}
	.two.pockets{
		width: 150px;
		margin-right: 12px;
	}
	.three.pockets{
		width: 231px;
		margin-right: 12px;
	}
	.four.pockets{
		width: 312px;
		margin-right: 12px;
	}
	.five.pockets{
		width: 393px;
		margin-right: 12px;
	}
	.six.pockets{
		width: 474px;
		margin-right: 12px;
	}
	.seven.pockets{
		width: 555px;
		margin-right: 12px;
	}
	.eight.pockets{
		width: 636px;
		margin-right: 12px;
	}
	.nine.pockets{
		width: 717px;
		margin-right: 12px;
	}
	.ten.pockets{
		width: 798px;
		margin-right: 12px;
	}
	.eleven.pockets{
		width: 879px;
		margin-right: 12px;
	}
	.twelve.pockets{
		width: 960px;
	}
	.one-pocket-space{
		margin-left: 81px;
	}
	.two-pockets-space{
		margin-left: 162px;
	}
	.three-pockets-space{
		margin-left: 243px;
	}
	.four-pockets-space{
		margin-left: 324px;
	}
	.five-pockets-space{
		margin-left: 405px;
	}
	.six-pockets-space{
		margin-left: 486px;
	}
	.seven-pockets-space{
		margin-left: 567px;
	}
	.eight-pockets-space{
		margin-left: 648px;
	}
	.nine-pockets-space{
		margin-left: 729px;
	}
	.ten-pockets-space{
		margin-left: 810px;
	}
	.eleven-pockets-space{
		margin-left: 891px;
	}

}

/*
**********************************************************
For Tablet Potrait Screens
**********************************************************
*/

@media screen and (min-width: 768px) and (max-width: 959px){

	.bag{
		width: 765px;
	}
	.one.pocket{
		width: 50px;
		margin-right: 15px;
	}
	.two.pockets{
		width: 115px;
		margin-right: 15px;
	}
	.three.pockets{
		width: 180px;
		margin-right: 15px;
	}
	.four.pockets{
		width: 245px;
		margin-right: 15px;
	}
	.five.pockets{
		width: 310px;
		margin-right: 15px;
	}
	.six.pockets{
		width: 375px;
		margin-right: 15px;
	}
	.seven.pockets{
		width: 440px;
		margin-right: 15px;
	}
	.eight.pockets{
		width: 505px;
		margin-right: 15px;
	}
	.nine.pockets{
		width: 570px;
		margin-right: 15px;
	}
	.ten.pockets{
		width: 635px;
		margin-right: 15px;
	}
	.eleven.pockets{
		width: 700px;
		margin-right: 15px;
	}
	.twelve.pockets{
		width: 765px;
	}
	.one-pocket-space{
		margin-left: 65px;
	}
	.two-pockets-space{
		margin-left: 130px;
	}
	.three-pockets-space{
		margin-left: 195px;
	}
	.four-pockets-space{
		margin-left: 260px;
	}
	.five-pockets-space{
		margin-left: 325px;
	}
	.six-pockets-space{
		margin-left: 390px;
	}
	.seven-pockets-space{
		margin-left: 455px;
	}
	.eight-pockets-space{
		margin-left: 520px;
	}
	.nine-pockets-space{
		margin-left: 585px;
	}
	.ten-pockets-space{
		margin-left: 650px;
	}
	.eleven-pockets-space{
		margin-left: 715px;
	}

}

/*
**********************************************************
For Mobile Landscape Screens
**********************************************************
*/

@media screen and (min-width: 499px) and (max-width: 767px){

	.bag{
		width: 500px;
	}
	.pocket, .pockets{
		float: none;
	}
	.one.pocket,
	.two.pockets,
	.three.pockets,
	.four.pockets,
	.five.pockets,
	.six.pockets,
	.seven.pockets,
	.eight.pockets,
	.nine.pockets,
	.ten.pockets,
	.eleven.pockets,
	.twelve.pockets{
		width: 500px;
		padding-top: 20px;
	}
	.one-pocket-space,
	.two-pockets-space,
	.three-pockets-space,
	.four-pockets-space,
	.five-pockets-space,
	.six-pockets-space,
	.seven-pockets-space,
	.eight-pockets-space,
	.nine-pockets-space,
	.ten-pockets-space,
	.eleven-pockets-space{
		margin-left: 0px;
	}

}

/*
**********************************************************
For Mobile Potrait Screens
**********************************************************
*/

@media screen and (max-width: 500px){

	.bag{
		width: 400px;
	}
	.pocket, .pockets{
		float: none;
	}
	.one.pocket,
	.two.pockets,
	.three.pockets,
	.four.pockets,
	.five.pockets,
	.six.pockets,
	.seven.pockets,
	.eight.pockets,
	.nine.pockets,
	.ten.pockets,
	.eleven.pockets,
	.twelve.pockets{
		width: 400px;
		padding-top: 20px;
	}
	.one-pocket-space,
	.two-pockets-space,
	.three-pockets-space,
	.four-pockets-space,
	.five-pockets-space,
	.six-pockets-space,
	.seven-pockets-space,
	.eight-pockets-space,
	.nine-pockets-space,
	.ten-pockets-space,
	.eleven-pockets-space{
		margin-left: 0px;
	}

}

/*
**********************************************************
For Other Small Screen devices
**********************************************************
*/

@media screen and (max-width: 399px){

	.bag{
		width: 95%;
	}
	.pocket, .pockets{
		float: none;
	}
	.one.pocket,
	.two.pockets,
	.three.pockets,
	.four.pockets,
	.five.pockets,
	.six.pockets,
	.seven.pockets,
	.eight.pockets,
	.nine.pockets,
	.ten.pockets,
	.eleven.pockets,
	.twelve.pockets{
		width: 95%;
		padding-top: 20px;
	}
	.one-pocket-space,
	.two-pockets-space,
	.three-pockets-space,
	.four-pockets-space,
	.five-pockets-space,
	.six-pockets-space,
	.seven-pockets-space,
	.eight-pockets-space,
	.nine-pockets-space,
	.ten-pockets-space,
	.eleven-pockets-space{
		margin-left: 0px;
	}

}
