/*
***********************************************************************************
Put all your custom styles here... and Remove this comment and my below CSS...
***********************************************************************************
*/

#header{
	font-family: "Grand Hotel", sans-serif;
	text-align: center;
	margin: 20px auto;
}
#backpack{
	font-size: 60px;
}
#back{
	color: #ed5a5a;
}
#pack{
	color: #33b8aa;
}
#description{
	font-size: 20px;
}
#designer{
	text-align: center;
}

/* Delete code upto here */

/* **********************************************************************************************************************
              +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
              +                                 CUSTOM RESPONSIVENESS                                 +
              +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
************************************************************************************************************************/
/*Add your custom styles to respective media queries and for respective devices...*/

/*
**********************************************************
For all mobile screens 
**********************************************************
*/

@media only screen and (max-width: 767px) {

}

/*
**********************************************************
For Ultra Resolution Screens 
**********************************************************
*/

@media screen and (min-width: 2400px){

}

/*
**********************************************************
For High Resolution Screens 
**********************************************************
*/

@media screen and (min-width: 1999px) and (max-width: 2399px){

}

/*
**********************************************************
For Medium Resolution Screens
**********************************************************
*/

@media screen and (min-width: 1699px) and (max-width: 1999px){

}

/*
**********************************************************
For Small Resolution Screens
**********************************************************
*/

@media screen and (min-width: 959px) and (max-width: 1199px){

}

/*
**********************************************************
For Tablet Potrait Screens
**********************************************************
*/

@media screen and (min-width: 768px) and (max-width: 959px){

}

/*
**********************************************************
For Mobile Landscape Screens
**********************************************************
*/

@media screen and (min-width: 499px) and (max-width: 767px){

}

/*
**********************************************************
For Mobile Potrait Screens
**********************************************************
*/

@media screen and (max-width: 500px){

}

/*
**********************************************************
For Other Small Screen devices
**********************************************************
*/

@media screen and (max-width: 399px){

}


/* **********************************************************************************************************************
              +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
              +                                     CUSTOM FONTS                                      +
              +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
************************************************************************************************************************/

/*@font-face {
	font-family: 'Custom Font';
	src: url('customfont.eot');
	src: url('customfont.eot?#iefix') format('embedded-opentype'),
	     url('customfont.woff') format('woff'),
	     url('customfont.ttf')  format('truetype'), 
	     url('customfont.svg#svgFontName') format('svg'); 
}*/